RewriteEngine On

#Uncomment for mediatemple
#AddHandler php5-script .php

# while bad for normal use, it makes view files prettier, e.g. <?=$title?>
<IfModule mod_php4.c>
<IfModule mod_php5.c>
php_flag short_open_tags on
</IfModule>
</IfModule>

# Prevent browser from downloading hidden (.something) files
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Prevent directory listings
Options -Indexes

RewriteRule ^([a-zA-Z0-9]+)/?$ index.php?controller=$1 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/?$ index.php?controller=$1&action=$2 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_-]+)/?$ index.php?controller=$1&action=$2&arg[]=$3 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ index.php?controller=$1&action=$2&arg[]=$3&arg[]=$4 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ index.php?controller=$1&action=$2&arg[]=$3&arg[]=$4&arg[]=$5 [QSA]
