# This line enables URL rewrites
RewriteEngine On

#Uncomment for mediatemple
#AddHandler php5latest-script .php

# while bad for normal use, it makes view files prettier, e.g. <?=$title?>
<IfModule mod_php4.c>
    <IfModule mod_php5.c>
        php_flag short_open_tags on
    </IfModule>
</IfModule>

# Prevent browser from downloading hidden (.something) files
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Prevent directory listings
Options -Indexes

RewriteRule ^([a-zA-Z0-9]+)/?$ index.php?controller=$1 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/?$ index.php?controller=$1&action=$2 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_-]+)/?$ index.php?controller=$1&action=$2&arguments[]=$3 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ index.php?controller=$1&action=$2&arguments[]=$3&arguments[]=$4 [QSA]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ index.php?controller=$1&action=$2&arguments[]=$3&arguments[]=$4&arguments[]=$5 [QSA]

# This line sends requests for documents Apache can't find to an fake controller (causing a 404 in SleekMVC)
ErrorDocument 404 /index.php?controller=404