#Uncomment for mediatemple
#AddHandler php5latest-script .php

# while bad for normal use, it makes view files prettier, e.g. <?=$title?>
<IfModule mod_php4.c>
    <IfModule mod_php5.c>
        php_flag short_open_tags on
    </IfModule>
</IfModule>

# Prevent browser from downloading hidden (.something) files
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Prevent directory listings
Options -Indexes

# This line sends requests for documents Apache can't find to an fake controller (causing a 404 in SleekMVC)
# If your app isn't installed in the root directory of the server, you'll need to update the following line
ErrorDocument 404 /index.php
# ErrorDocument 404 /path/to/site/index.php